# Particles
public net.minecraft.client.particle.ParticleEngine$SpriteParticleRegistration

# Recipe Datagen
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName

# Levitite Rendertype
public net.minecraft.client.renderer.RenderType m_173215_(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType; # create
